<h1><%= @goal.user.username %> - <%= @goal.name %></h1>
<h2>Comments:</h2>
<ul>
  <% @goal.comments.each do |comment| %>
    <li><%=  comment.comment%> - <%= comment.author.username %></li>
  <% end %>
</ul>


<form action="<%=goalcomments_url%>" method="post">
  <input type="hidden" name="goalcomment[goal_id]" value="<%=@goal.id%>">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

  <textarea id="Comment" name="goalcomment[comment]" rows="8" cols="80"></textarea>

  <input type="submit" value="Add Comment">
</form>
