<h1><%=@user.username%></h1>

<h2>Goals</h2>
<ul class="my_ul">
<% @user.goals.each do |goal| %>
<% if goal.private == false || @user == current_user %>
<li><%= link_to goal.name, goal_url(goal) %>
  <% if @user == current_user %>
  <%= link_to "\u{1F4DD}", edit_goal_url(goal), method: :get, class: "emoji_button"%>
  <%= link_to "\u{274C}", goal_url(goal), method: :delete, class: "emoji_button"%>
  <% end %>
</li>
<% end %>
<% end %>

</ul>
<%= link_to "Add Goal", new_goal_url if @user == current_user %>

<h2>Comments</h2>

<ul>
<% @user.comments.each do |comment| %>
  <li><%= comment.comment %> - <%= comment.author.username %></li>
<% end %>

</ul>

<form action="<%=comments_url%>" method="post">
  <input type="hidden" name="comment[commentable_type]" value="User">
  <input type="hidden" name="comment[commentable_id]" value="<%=@user.id%>">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

  <textarea id="Comment" name="comment[comment]" rows="8" cols="80"></textarea>

  <input type="submit" value="Add Comment">
</form>
