

  <h1>Edit Goal</h1>

<form action="<%= goal_url(@goal)%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <input type="hidden" name="goal[user_id]" value="<%= current_user.id%>">
  <input type="hidden" name="_method" value="patch">

  <label for="Goal">Goal</label>
  <input id="Goal" type="text" name="goal[name]" value="<%=@goal.name%>">

  <br>
  Private <input type="radio" name="goal[private]" value=true <%= @goal.private ? "checked" : "" %> id="private">
  Public <input type="radio" name="goal[private]" value=false <%= @goal.private ? "" : "checked" %> id="public">

  <br>
  <input type="submit" value="Confirm Goal">

</form>
