<h1><%=@user.username%></h1>
<ul>

<h2>Goals</h2>
<% @user.goals.each do |goal| %>
<% if goal.private == false || @user == current_user %>
<li><%= link_to goal.name, goal_url(goal) %>
  <% if @user == current_user %>
  <%= button_to "Edit Goal", edit_goal_url(goal), method: :get%>
  <%= button_to "Delete Goal", goal_url(goal), method: :delete%>
  <% end %>
</li>
<% end %>
<% end %>

</ul>
<%= link_to "Add Goal", new_goal_url if @user == current_user %>

<h2>Comments</h2>

<ul>
<% @user.user_page_comments.each do |comment| %>
  <li><%= comment.comment %> - <%= comment.author.username %></li>
<% end %>

</ul>

<form action="<%=usercomments_url%>" method="post">
  <input type="hidden" name="usercomment[user_id]" value="<%=@user.id%>">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

  <textarea id="Comment" name="usercomment[comment]" rows="8" cols="80"></textarea>

  <input type="submit" value="Add Comment">
</form>
